@page
@model BeFeira.Pages.Carrinho.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Carrinho</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Carrinho.ClienteId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Carrinho.ClienteId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Carrinho.StandId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Carrinho.StandId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Carrinho.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Carrinho.Total)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Carrinho?.CarrinhoId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
