@page
@model BeFeira.Pages.Carrinho.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Carrinho[0].ClienteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carrinho[0].StandId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carrinho[0].Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Carrinho) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StandId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CarrinhoId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CarrinhoId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CarrinhoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
