@page
@model BeFeira.Pages.Administrador.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Administrador</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrador.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrador.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrador.Created_at)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrador.Created_at)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrador.Updated_at)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrador.Updated_at)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrador.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrador.Username)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Administrador.AdministradorId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
