@page
@model BeFeira.Pages.Administrador.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Administrador</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrador.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrador.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrador.Created_at)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrador.Created_at)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrador.Updated_at)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrador.Updated_at)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrador.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrador.Username)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Administrador?.AdministradorId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
