@page
@model BeFeira.Pages.Administrador.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Administrador[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Administrador[0].Created_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Administrador[0].Updated_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Administrador[0].Username)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Administrador) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AdministradorId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AdministradorId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AdministradorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
