@page
@model BeFeira.Pages.Produto.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produto[0].IdStand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto[0].Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto[0].Promocao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto[0].Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto[0].Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto[0].SubCategoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Produto) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdStand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Promocao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubCategoria)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProdutoId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProdutoId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProdutoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
