@page
@model BeFeira.Pages.Promocao.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Promocao</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Promocao.ProdutoId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Promocao.ProdutoId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Promocao.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Promocao.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Promocao.Desconto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Promocao.Desconto)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Promocao?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
