@page "/carrinhopage"
@page "/carrinhopage/{idcliente:int}/{from}"
@page "/carrinhopage/{idcliente:int}/{idfeira:int}/{from}"
@page "/carrinhopage/{idcliente:int}/{idfeira:int}/{idstand:int}/{from}"
@page "/carrinhopage/{idcliente:int}/{idfeira:int}/{idstand:int}/{idsubcat:int}/{from}"
@page "/carrinhopage/{idcliente:int}/{idfeira:int}/{idstand:int}/{idsubcat:int}/{idproduto:int}/{from}"
@using BeFeira.Shared
@inject IClienteService ClientService
@inject ICarrinhoProdService CarrinhoProdService
@inject ICarrinhoService CarrinhoService
@inject NavigationManager NavigationManager

<header>
    <link rel="stylesheet" href="icons/icons/css/all.css">
    <link rel="stylesheet" href="css/mainpage.css">

    <img src="logo.png" alt="BeFeira Logo">
    <i class="fa-solid fa-circle-user"></i>
</header>

<body>
    <div class="carrinho_container">
        <h3>Carrinho do cliente @uname </h3>
        <div class="produto_carrinho produto_carrinho_title">
            <p>Nome do produto</p>
            <p>Preço</p>
            <p>Promoção</p>
            <p>Stock</p>
            <p>Rating</p>
            <p>Remover</p>
        </div>
        <div class="produtos_carrinho">
            @{
                Boolean even = false; 
                foreach(var produto in produtos)
                {

                    even = !even;
                    
                    <div class="produto_carrinho @String.Format("{0}", even ? "even" : "odd")">
                        <p>@produto.Nome_Produto</p>
                        <p>@String.Format("{0}€",produto.Preco.ToString("0.00"))</p>
                        <p>@String.Format("{0}%", produto.Promocao)</p>
                        <p>@String.Format("{0} uni.", produto.Stock)</p>
                        <p>@String.Format("{0}%", produto.Rating)</p>
                        <button><i class="fa-sharp fa-solid fa-square-xmark" @onclick="(()=>RemoveFromKart(produto))"></i></button>
                    </div>
                }
            }
        </div>
        <p>@String.Format("Total: {0}€",total.ToString("0.00"))</p>
        <div class="carrinho_buttons_container">
            <button @onclick="(()=>goBack())">Voltar</button>
            <button @onclick="(()=>FinalizarCompra())" >Finalizar compra</button>
        </div>
    </div>
</body>

@code {

    [Parameter]
    public int? idfeira { get; set; }

    [Parameter]
    public int? idstand { get; set; }

    [Parameter]
    public int? idsubcat { get; set; }

    [Parameter]
    public int? idproduto { get; set; }

    [Parameter]
    public int? idcliente { get; set; }

    [Parameter]
    public string? from { get; set; }

    private Carrinho kart = new Carrinho { };
    public  List<Produto> produtos = new List<Produto>();
    public List<CarrinhoProduto> carsprods = new List<CarrinhoProduto>();


    public string? uname;

    protected override async Task OnInitializedAsync()
    {
        if (idcliente == -1)
        {
            uname = "Guest";
        }
        else
        {
            //ver se o gajo tem carro , senao cria-se
            Cliente cli = await ClientService.GetSingleCliente((int)idcliente);
            uname = cli.Username;
            int k = await CarrinhoService.ExistsCarrinho(cli.ID);
            if (k < 0)
            {
                await CarrinhoService.AddCarrinho(new Carrinho { ClienteID = cli.ID, Total = 0 });
                kart = await CarrinhoService.getCarrinhobyIdCliente((int)idcliente);
            }
            else
            {
                kart = await CarrinhoService.getCarrinhobyIdCliente((int)idcliente);
            }
            carsprods = await CarrinhoProdService.getCarrinhosProdbyIdKart((int)kart.ID);
            produtos = await CarrinhoProdService.getProdutosinCarrinho((int)kart.ID);

        }
    }
    Boolean even = false;

    float total = 10.50f; // TODO: tem que ser calculado com base na lista de produtos


    async void RemoveFromKart(Produto produto)
    {
        

        int p = await CarrinhoProdService.getCarrinhoprodbykartandprod(produto, kart.ID);
         CarrinhoProdService.DeleteCarrinhoProd(p);
         NavigationManager.NavigateTo($"/carrinhopage/{idcliente}",forceLoad:true);

    }

    void FinalizarCompra()
    {
        NavigationManager.NavigateTo($"/finalizarcompra/{kart.ID}/{idcliente}");


    }

    void goBack()
    {
        if (from.Equals("mainpage")) NavigationManager.NavigateTo($"mainpage/{idcliente}");
        if (from.Equals("feirapage")) NavigationManager.NavigateTo($"feirapage/{idfeira}/{idcliente}");
        if (from.Equals("standpage")) NavigationManager.NavigateTo($"standpage/{idfeira}/{idstand}/{idcliente}");
        if (from.Equals("produtopage")) NavigationManager.NavigateTo($"produtopage/{idsubcat}/{idstand}/{idfeira}/{idcliente}");
        if (from.Equals("produtoinfo")) NavigationManager.NavigateTo($"produtoinfo/{idproduto}/{idsubcat}/{idstand}/{idfeira}/0/{idcliente}");
        
    }


}
