@page "/produtoinfo"
@page "/produtoinfo/{idproduto:int}/{idsubcategoria:int}/{idstand:int}/{idfeira:int}/{fromStand:int}/{idcliente:int}"

@inject IProdutoService ProdutoService
@inject IClienteService ClientService
@inject NavigationManager NavigationManager




<header>
    <link rel="stylesheet" href="icons/icons/css/all.css">
    <link rel="stylesheet" href="css/mainpage.css">

    <img src="logo.png" @onclick="(()=>gomain())" alt="BeFeira Logo">
    <div class="user_header_info">
        <h1>@name</h1>
        <i class="fa-solid fa-cart-shopping"></i>
    </div>
    <button class="u"><i class="fa-solid fa-circle-user" @onclick="(()=>gouser())" alt=""></i></button>
</header>


<body class="produtos_stand_container">

        <div class="produto_basic_info" style="height : fit-content">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Red_Apple.jpg/420px-Red_Apple.jpg" alt="Imagem do produto">
            <p class="nome_produto">@prod.Nome_Produto</p>
        @if (prod.Promocao!= 0)
        {
            <p class="preco_page_produto">Preço:  <del>@String.Format("{0}",prod.Preco.ToString("0.00"))</del> @String.Format("{0}",(prod.Preco * (1 - (float)prod.Promocao/100)).ToString("0.00"))€</p>
            <p class="promocao_produto"> @String.Format("Promoção: {0}%",prod.Promocao)</p>
        } else
        {
            <p class="preco_page_produto">Preço: @String.Format("{0}",prod.Preco.ToString("0.00"))€</p>

        }
        <p class="stock_produto">@String.Format("Stock: {0} uni.",prod.Stock)</p>
        <p>Rating:</p>
        @switch (prod.Rating)
        {
            case 0:
                <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                                <i class="fa-regular fa-star"></i>
                break;

            case 1:
                    <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                                <i class="fa-regular fa-star"></i>
                break;
            case 2:
                    <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                                <i class="fa-regular fa-star"></i>
                break;
            case 3:
                    <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                                <i class="fa-regular fa-star"></i>
                break;
            case 4:
                    <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                                <i class="fa-regular fa-star"></i>
                break;
            case 5:
                    <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                break;

        }
        <div class="produto_basic_info_buttons">
                    <button><i class="fas fa-shopping-cart"></i></button>
            </div>
            
        </div>

    <button class="botao_voltar_bottom" @onclick="(()=>goback())">Voltar</button>

</body>

@code 
{

    [Parameter]
    public int? idfeira { get; set; }

    [Parameter]
    public int? idstand { get; set; }

    [Parameter]
    public int? idsubcategoria { get; set; }

    [Parameter]
    public int? fromStand { get; set; }

    [Parameter]
    public int? idproduto { get; set; }

    [Parameter]
    public int? idcliente { get; set; }

    public Produto prod = new Produto { };
    public string? name;
    public Cliente? c;


    protected override async Task OnInitializedAsync()
    {
        await ProdutoService.GetProdutos();
        if (idcliente == -1) name = "Guest";
        else
        {
            c = await ClientService.GetSingleCliente((int)idcliente);
            name = c.Username;
        }
    }



    protected override async Task OnParametersSetAsync()
    {
        if (idproduto == null)
        {

        }
        else
        {
            prod = await ProdutoService.GetSingleProd((int)idproduto);

        }
    }
    void gomain()
    {
        NavigationManager.NavigateTo("mainpage");
    }

    void gouser()
    {
        NavigationManager.NavigateTo($"userinfo/{idcliente}");
    }



    void goback()
    {
        if(fromStand!=1)
        {
            NavigationManager.NavigateTo($"produtopage/{idfeira}/{idstand}/{idsubcategoria}/{idcliente}");    
        }
        else
        {
            NavigationManager.NavigateTo($"standpage/{idfeira}/{idstand}/{idcliente}");
        }
    }
}
